@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}
*{
  color:#fff;
  font-family: sans-serif;
  transition:0.2s ease-in-out;
  user-select: none;
}

.align{
  display:flex;
  justify-content: center;
  align-items: center;
}
body{
  background-color: #252A34;
  margin:0;
  padding:0;
  width: 100vw;
  text-align:center ;
  padding-top: 5vh;
}

.box {
  transition: background-color 0.3s, color 0.3s; 
}

.box:hover {
  background-color: #FF2E63; 
}

.winning {
  background-color: #08D9D6;
  color: #000;
}
.winning:hover{
  background-color: #08D9D6;
  color: #000;
}